<main xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container body-container">
        <div id="main" class="col-sm-9">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Full name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.fullName}"></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</main>